<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4" >
  <footer id="footer" class="hoc clear" style="border-color : #82b440;border-top: 1px solid;"> 
    <!-- ################################################################################################ -->
    <h6 class="title">Informacion Libreria</h6>
    <div class="one_third first">
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          carrera26 &amp; 16-24 , Centro
          </address>
        </li>
      
        
      </ul>
    </div>
   
    <div class="one_third">
      <ul class="nospace linklist contact">
        <li><i class="fa fa-phone"></i> +57 (315) XXX XXXX<br>
          +57 (315) XXX XXXX</li>        
        </li> </ul>
    </div>
    <div class="one_third">
      <ul class="nospace linklist contact">
        <li><i class="fa fa-envelope-o"></i> Libreria@domain.com</li> </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Electiva II &copy; 2020 - Kevin Yama </p>    
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
<!-- IE9 Placeholder Support -->
<script src="layout/scripts/jquery.placeholder.min.js"></script>
<!-- / IE9 Placeholder Support -->
</body>
</html>