<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
  
<!-- partial:index.partial.html -->
<div class="login-page" >
  <div class="form">    
    <form class="login-form" action="/inicio/l/reg/add" method="POST">
      <label> <h1> Registro </h1></label>
      <input type="text" placeholder="titulo" name="titulo"/>
      <input type="text" placeholder="autor" name="autor"/>   
      <input type="text" placeholder="idioma" name="idioma"/>      
      <input type="text" placeholder="genero" name="genero"/>      
      <input type="text" placeholder="disponible" name="disponible"/>
      <input type="text" placeholder="descricion" name="descricion"/>
      <input type="text" placeholder="propietario" name="propietario"/>
      <input type="text" placeholder="barrio que se encuantra" name="barrio"/>

      <button>Añadir libro </button>  </br> </br>
          
    </form>
    <form class="login-form" action="/inicio" method="GET">
      <button>Regresar </button>  </br> </br>
    </form>

    <!-- <form action="/reg" method="GET">
      <button>registrarse </button>  
    </form> -->
    
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script >
    $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
  </script>   
</body>
</html>
